:root {
  /* Temel renkler */
  --color-primary: #fe4c01;   /* Logonuzdaki turuncu renk */
  --color-secondary: #caefe2; /* Logonuzdaki açık yeşil/mavi ton */
  --color-accent: #000813;    /* Logonuzdaki koyu mavi/yeşil ton */
  --color-background: #f0f0f1; /* Açık gri, genel arka plan için */
  --color-text: #1a1a1a;      /* Koyu gri, metinler için */
  --color-border: #ddd;       /* Kenarlık rengi */
  --color-icon: #fe4c01;      /* İkon rengi */
  --color-icon-hover: #000813;/* İkon hover rengi */
}


body {
  padding-top: 70px;
  background-color: var(--color-background)  !important;
  color: var(--color-text);
}

#featured-games,
#contact {
  padding: 20px;
  border-radius: 10px;
}

#main-container {
  display: flex;
}

#project-viewport {
  flex: 1;
  max-width: 25%;
}

#project-details {
  position: sticky;
  top: 70px; 
  overflow-y: auto;
  text-align: center;
  height: auto; 
  max-height: calc(100vh - 140px); 
}

#project-details .card-header,
#project-details .card-body {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.card{
  margin-top: 50px; 
}

.container-fluid{
  background-color: var(--color-background);
}

.container.my-5 {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.project-card {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease;
}


.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
}

.project-card h5 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-card.active {
  transform: scale(1.1);
}

.fa-icon {
  margin: 0 15px;
  font-size: 50px;
  color: var(--color-icon);
}

.fa-icon:hover {
  color: var(--color-icon-hover);
}

.placeholder-text {
  margin-top: 200px; 
}

.footer {
  margin-top: 50px; 
  text-align: center;
}

.card-body p {
  font-weight: bold;
}

.welcome-logo {
  display: block;
  margin: auto;
  max-width: 25%;
}
