body {
  padding-top: 70px; /* Navbar yüksekliğine göre ayarlayın */
}

#featured-games {
    background-color: #f9f9f9;
    padding: 20px;
  }

  #contact {
    background-color: #f2f2f2;
    padding: 20px;
  }

  
  #main-container {
    display: flex;
  }
  
  #project-viewport {
    flex: 1;
    max-width: 25%;
  }
  
  #project-details {
    position: sticky;
    top: 70px; 
    overflow-y: auto;
    height: auto; 
    max-height: calc(100vh - 140px); 
  }
  #project-details .card-header {
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #f1f1f1;
    background-color: #000000;
  }
  #project-details .card-body {
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #f9f9f9;
    background-color: #f9f9f9;
  }

  .container.my-5 {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .project-card {
    border: 1px solid #ddd; /* Kenarlık ekle */
    border-radius: 8px; /* Köşeleri yuvarlat */
    overflow: hidden; /* Taşan içerikleri gizle */
    margin: 10px;
    transition: transform 0.3s ease; /* Animasyon ekleyin */
  }
  
  .project-card:hover {
    transform: scale(1.05); /* Kartın üzerine gelindiğinde büyüt */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Gölge efekti */
  }
  
  .project-card img {
    width: 100%; /* Resimleri kartın genişliğine uydur */
    display: block; /* Blok seviyesinde gösterim */
  }
  .project-card h5 {
    text-align: center; /* Başlığı ortala */
    margin-top: 15px; /* Üstten boşluk ekle */
    margin-bottom: 15px; /* Alttan boşluk ekle */
  }
  
  
  .project-card h3 {
    margin-bottom: 10px; 
  }
  .project-card:hover {
    transform: scale(1.1);
  }
  
  #project-details {
    text-align: center;
  }

  
  .project-card.active {
    transform: scale(1.1);
  }

  .fa-icon {
    margin: 0 15px;
    font-size: 50px;
    color: #000000;  /* İkon rengi */
  }
  
  .fa-icon:hover {
    color: #002aff;  /* Hover durumunda ikon rengi */
  }

  
.placeholder-text {
  margin-top: 200px; 
}

.footer {
  margin-top: 50px; 
  text-align: center;
}

.card-body p {
  font-weight: bold;
}

.welcome-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;  /* Alt boşluk ekler */
  margin-bottom: 20px;  /* Alt boşluk ekler */
  max-width: 25%;  /* İsterseniz bu satırı kaldırabilir veya değiştirebilirsiniz */
}



